# Ambiente virtual
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
db.sqlite3
*.log
local_settings.py

# Ficheiros de ambiente
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
nul

# Migrações (opcional - descomenta se não quiseres versionar)
# */migrations/

# Static files (se forem gerados)
staticfiles/
